@import "tailwindcss";

/* Base */
html,
body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

html {
    background: radial-gradient(ellipse at center, #1bb8bf 0%, #0080c9 100%);
}

body {
    background: url("/img/salahme.bg.png") no-repeat top center;
    background-size: auto 50%;
    text-transform: uppercase;
}

/* Responsive scaling */
@media screen and (max-width: 1600px) {
    .main-content {
        transform: scale(0.7);
        transform-origin: top center;
    }
}

@media screen and (max-width: 800px) {
    .main-content {
        transform: scale(0.6);
        transform-origin: top center;
    }

    nav ul {
        transform: scale(0.9);
        transform-origin: top right;
        text-align: center;
        padding-top: 10px;
    }
}

@media screen and (min-width: 800px) and (max-height: 400px) {
    body {
        background-size: auto 90%;
    }
}

@media screen and (min-width: 1600px) and (max-height: 500px) {
    body {
        background-size: auto 70%;
    }
}

/* Location search input styles */
.location-input {
    color: white;
    background-color: transparent;
    caret-color: white;
}

.location-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    opacity: 1;
}

.location-input:focus {
    outline: none;
    background-color: transparent;
}

/* Ensure input doesn't get browser autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
